<label for="id">*ID:</label><br>
<input type="number" id="id" name="id"  [(ngModel)]="content.id"><br>

<label for="title">*Title:</label><br>
<input type="text" id="title" name="title" [(ngModel)]="content.title"><br>

<label for="description">*Description:</label><br>
<textarea id="description" name="description" rows="4" cols="50" 
    [(ngModel)]="content.description"></textarea><br>

<label for="creator">*Creator:</label><br>
<input type="text" id="creator" name="creator" [(ngModel)]="content.creator"><br>

<label for="imgURL">Image URL:</label><br>
<input type="url" id="imgURL" name="imgURL" [(ngModel)]="content.imgURL"><br>

<label for="type">Type:</label><br>
<input type="text" id="type" name="type" [(ngModel)]="content.type"><br>

<label for="tags">Tags (comma separated):</label><br>
<input type="text" id="tags" name="tags" [(ngModel)]="content.tags"><br>

<button type="submit" (click)="dataSubmit()">Submit</button>

<p *ngIf="errorMess" style="color: red; font-weight: bold;">{{errorMess}}</p>